.box-container-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.custom-img {
  width: 15px;
  height: 15px;
  border-radius: 6px;
  object-fit: cover;
}
.botta {
  position: relative;
  top: 10px;
}
.spzt {
  margin: 0;
  padding: 0px;
}
.box-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-success {
  height: 40px;
}
.n {
  padding-inline: 17px;
  color: #a7a7a7;
  padding-bottom: 10px;
}
.custom-img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}
.title {
  color: white;
  margin-bottom: 5px;
}
.card-img {
  width: 100%;
  height: 100%;
}
.artist {
  padding-left: 120px;
  color: #969696;
  cursor: pointer;
}

.scrollbar {
  overflow-y: auto; /* Imposta lo scorrimento verticale automatico */
  max-height: calc(100vh - 56px); /* Imposta l'altezza massima in base all'altezza del viewport */
}
.sp:hover {
  color: white !important;
}
.artname {
  font-weight: bold;
  color: white;
  font-size: 90px;
}
.clr {
  background-color: #1b1b1b;
}
.circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.image-container {
  position: relative;
  width: 90px;
  height: 90px;
}

.iddd {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#blc {
  padding-block: 3px;
}
#blc:hover {
  background-color: #343232;
  color: white;
}
.title:hover {
  text-decoration: underline;
  cursor: pointer;
}
#blc:hover .artist {
  color: white;
}

#visual {
  padding-left: 15px;
}
#blc:hover svg {
  visibility: visible;
  cursor: pointer;
}
#blc svg {
  visibility: hidden;
  position: relative;
  bottom: 2px;
  left: 90px;
}
#blc a {
  visibility: hidden;
  position: relative;
  bottom: 8px;
  right: 4px;
}
#blc:hover a {
  visibility: visible;
  cursor: pointer;
}
.striscia {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 20px;
}

.follow {
  position: relative;
  top: 10px;
  padding-inline: 20px;
  border-radius: 7px;
  width: 160px;
  height: 40px;
  font-size: 20px;
  background-color: #1d1d1d;
  border-color: white;
  color: white;
}
.follow:hover {
  background-color: white;
  color: #1d1d1d;
  border-color: #1d1d1d;
}

.icon {
  position: relative;
  right: 100px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  width: 70px;
}
.icon-item {
  background-color: #292929;
  border-radius: 50%;
  padding-inline: 7px;
  cursor: pointer;
}
.icon-item:hover {
  background-color: #787879;
}
.tt {
  color: #787879;
  font-size: 13px;
  padding-top: 8px;
}

#tst:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
#mm {
  cursor: pointer;
}
.scrollbar {
  overflow-y: auto;
  max-height: calc(110vh - 56px);
}
#scroll::-webkit-scrollbar-track {
  background-color: #000000;
}

#scroll::-webkit-scrollbar {
  width: 15px;
  background-color: #00000000;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #35353580;
}
footer {
  color: #fff;
  padding-inline: 20px;
  padding-top: 150px;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

h4 {
  font-size: 1.2rem;
}
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  display: block;
}

ul li a {
  color: #99a7a7;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.cont {
  width: 100%;
  border-top: 0.5px solid #969696;
  padding-block: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.iff {
  display: inline-block;
  margin-left: 10px;
  color: #969696;
  cursor: pointer;
}

.iff:hover {
  color: #fff;
  text-decoration: underline;
}

.arrow-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: 434343;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconna {
  cursor: pointer;
}
.playlist-arrows {
  display: flex;
  justify-content: space-between;
}

.playlist-top {
  display: flex;
  justify-content: space-between;
  gap: 1050px;
  align-items: center;
  position: absolute;
  top: 5px;
}

.playlist-header {
  padding: 20px;
}

.playlist-top-email {
  display: flex;
  align-items: center;
  background-color: #434343;
  border-radius: 20px;
  color: white;
}

.playlist-header .arrow-container {
  background-color: #535353;
  margin: 2px;
}

.playlist-top-email span {
  padding: 0 10px;
}

.iconna img:hover {
  transition: all 0.3s linear;
  transform: scale(1.2);
}

.playlist-buttons-resume-pause:hover {
  transition: all 0.3s linear;
  transform: scale(1.2);
}

:root {
  --spotify-green: #1db954;
}
.playlists {
  font-weight: 400 !important;
}
.playlists ul li a span {
  left: 80px;
}
