.nd {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#loveSongs {
  width: 20px;
}
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Numero di righe da mostrare */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Aggiungi i puntini di sospensione */
}
#firstContainer {
  max-width: 70px;
}
#avatar {
  width: 30px;
  height: 30px;
}
.listen {
  font-size: smaller;
}
.nav-link:hover {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar {
  overflow-y: auto; /* Imposta lo scorrimento verticale automatico */
  max-height: calc(100vh - 56px); /* Imposta l'altezza massima in base all'altezza del viewport */
}
