.nd {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#loveSongs {
  width: 20px;
}
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Numero di righe da mostrare */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Aggiungi i puntini di sospensione */
}
#firstContainer {
  max-width: 70px;
}
#avatar {
  width: 30px;
  height: 30px;
}
.listen {
  font-size: smaller;
}
a:hover {
  color: #ffffff;
}
a {
  color: rgb(95, 95, 95);
}

.scrollbar {
  overflow-y: auto; /* Imposta lo scorrimento verticale automatico */
  max-height: calc(110vh - 56px); /* Imposta l'altezza massima in base all'altezza del viewport */
}
#scroll::-webkit-scrollbar-track {
  background-color: #000000;
}

#scroll::-webkit-scrollbar {
  width: 15px;
  background-color: #00000000;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #35353580;
}
#clr{
  background-color: #1B1B1B;
}
.sp:hover{
  color:white !important;
}